
<label for="name">Nome: <input type="text" name="name" [(ngModel)]="person.name" placeholder="Nome"></label>
<label for="surname">Cognome: <input type="text" name="surname" [(ngModel)]="person.surname" placeholder="Cognome"></label>
<label for="age">Età: <input type="number" name="age" [(ngModel)]="person.age" placeholder="Età"></label><br>

<button (click)="addPerson()">Aggiungi</button>


<div *ngFor="let person of people">
    <hr>
    <p>Nome: {{person.name}}</p>
    <p>Cognome: {{person.surname}}</p>
    <p>Età: {{person.age}}</p>

</div>